{% extends "BlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}

<a href="{{ path('blog_ajout') }}" xmlns="http://www.w3.org/1999/html">ajout torrents</a>
<a href="{{ path('blog_homepage') }}">accueil</a>
<H4>liste torrents</h4>
<p> vous pouvez update le nom du torrent et la description pour ca vous avez juste a change la case que vous voulez et cocher la case adéquate </p>
<p> pour supprimer cocher la case et appuyez sur suppr</p>
<div class="row col-lg-12">
	<section class="col-lg-12">

<form action="{{path('blog_gestion')}}" method="post">
	<p><input class = "text-area-srch" type = "text" placeholder = "Rechercher un torrent" name = "search" value = "" /><button class= "btn btn-info glyphicon glyphicon-search" type = "submit"></button></p>
	<table class="table table-bordered table-striped table-condensed">
		<thead>
		<tr style = "background-color: burlywood">
			<th style = "text-align: center; vertical-align: middle;" >ID</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-6">Nom</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-1">Taille</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-2">Date de publication</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-1">Auteur</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-1">Description</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-3">Chemin</th>
			<th style = "text-align: center; vertical-align: middle;" class = "col-lg-1"><input type="checkbox" onClick="toggle(this)" /></th>
		</tr>
		</thead>
		<tbody>
		{% for torrent in advert %}
			<tr>
			<td id = "td-center" >{{torrent.getId()}}</td>
			<td id = "td-center" ><input class = "text-area-trsp" type = "text" value = "{{torrent.getNomTorrent()}}" name = "checklist[{{torrent.getId()}}][nomTorrent]" /></td>
			<td id = "td-center" ><script type="text/javascript">document.write(convertSize({{torrent.getTailleFichier()}}))</script></td>
			<td id = "td-center" >{{torrent.getDate()|date}}</td>
			<td id = "td-center" >{{torrent.getAuteur()}}</td>
			<td id = "td-center" ><input class = "text-area-trsp" type = "text" value = "{{torrent.getDescription()}}" name = "checklist[{{torrent.getId()}}][description]" /></td>
			<td id = "td-center" ><input class = "text-area-trsp" type = "text" value = "{{torrent.getPathToFile()}}" name = "checklist[{{torrent.getId()}}][path]" readonly/></td>
			<td id = "td-center" ><input type="checkbox" name = "id[{{torrent.getId()}}]" value = "{{torrent.getId()}}" /></td>
			</tr>
		{% endfor %}

		</tbody>
	</table>
		<p style = "text-align: end">
			<button class="btn-group btn btn-delete btn-sm" type ="submit" name ="suppr" >Supprimer <span class="glyphicon glyphicon-remove"></span></button>
			<button class="btn-group btn btn-edit btn-sm" type ="submit" name ="update" >Modifier <span class="glyphicon glyphicon-pencil"></span></button>
		</p>
</form>

		</section>
</div>
{% endblock %}